/*
!wp-content/
wp-content/*
!wp-content/themes/

wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/themes/*

.*
~*
node_modules/
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sublime-project
*.sublime-workspace
*.komodoproject
.idea
.vscode
.*

# dev files to track
!.gitignore
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!composer.json

# track favicon files, if they exist
!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg
!site.webmanifest

!wp-content/themes/tad-2026
!wp-content/plugins/in-synced