/* Site Containers
--------------------------------------------- */

.site-container {
	position: relative;
}

.site-inner {
	clear: both;
	padding-top: 30px;
	word-wrap: break-word;
	word-break: normal;
}

.site-inner,
.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: $base-wrap-max-width;
	padding-left: 5%;
	padding-right: 5%;

	@include media($small-screen-up) {
		padding-left: 0;
		padding-right: 0;
	}

	@include media($medium-screen-up) {
		max-width: $wrap-max-width-medium;
	}

	@include media($large-screen-up) {
		max-width: $wrap-max-width-large;
	}
}

#content,
#site-inner,
#site-container,
.frame,
#video-frame {
	display: block;
	@include media($small-screen-up) {
		min-height:100%;
	}
}

.section {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	display: block;
	clear: both;
	background-color: $dark-gray;
	color: $light-fog;

	&.full-height {
		height: 100%;
		min-height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}


	&.red {
		background-color: $red;
		@include letterpress-medium-dark-bg;

	}

	&.orange {
		background-color: $orange;
		color: $white;
		@include letterpress-medium-dark-bg;

		@include light-text-form-styles;
	}

	&.yellow {
		background-color: $yellow;
		color: $dark-gray;
		@include letterpress-light-bg;

		@include link-color-for-light-bg;
		@include underline-overline-for-light-bg;

	}

	&.green {
		background-color: $green;
		color: $off-black;
		@include letterpress-light-bg;

		@include link-color-for-light-bg;
		@include underline-overline-for-light-bg;

	}

	&.seafoam {
		background-color: $seafoam;
		@include letterpress-medium-dark-bg;

	}

	&.light-blue {
		background-color: $light-blue;
		color: $dark-gray;
		@include letterpress-medium-light-bg;

		@include link-color-for-light-bg;
		@include underline-overline-for-light-bg;

	}

	&.grey-blue {
		background-color: $grey-blue;
		color: $light-fog;

		@include light-text-form-styles;
	}

	&.purple {
		background-color: $purple;
		color: $white;

		@include light-text-form-styles;
	}

	&#home {
		min-height: 75%;
		height: auto;
	}

	#video-frame,
	.frame {
		position: relative;
		display: block;
		overflow: hidden;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		min-width: 100%;
		height: auto;
		min-height: 0;
		padding: 10% 2%;
		display: flex;

		@include media($small-screen-up) {
			padding: 5% 20%;
		}

		.site-inner {
			display: block;
			z-index: 10;
		}

		video {
			min-height:100% !important;
			min-width: 100% !important;
			height: auto;
			width: auto;
		}
	}
}



/* Column Widths and Positions
--------------------------------------------- */

/* Content
-------------------- */

.layout-1c-narrow .content {
	padding: 0;
}

@include media($medium-screen-up) {

	.layout-1c-narrow .content {
		@include pad(0 15%);
	}

	.layout-2c-l .content,
	.layout-2c-r .content {
		@include span-columns(8);
	}

	.layout-2c-r .content {
		@include omega();
		float: right;
	}

	/* Primary Sidebar
	-------------------- */
	.sidebar {
		@include span-columns(4);
	}

	.layout-2c-l .sidebar {
		@include omega();
		float: right;
	}

	/* Secondary Sidebar
	-------------------- */
	.sidebar-secondary {
		@include span-columns(2);
	}

	.content-sidebar-sidebar .sidebar-secondary {
		@include omega();
		float: right;
	}
}

.layout-1c .sidebar,
.layout-1c-narrow .sidebar {
	display: none;
}

/* Column Classes
--------------------------------------------- */

@include media($small-screen-up) {

	.one-half,
	.three-sixths,
	.two-fourths {
		@include span-columns(6);
	}

	.one-third,
	.two-sixths {
		@include span-columns(4);
	}

	.four-sixths,
	.two-thirds {
		@include span-columns(8);
	}

	.one-fourth {
		@include span-columns(3);
	}

	.three-fourths {
		@include span-columns(9);
	}

	.one-sixth {
		@include span-columns(2);
	}

	.five-sixths {
		@include span-columns(10);
	}

	.last {
		@include omega();
		clear: right;
	}
}
