.header {
	background-color: $green;
	color: $off-black;
	@include letterpress-light-bg;
	padding-left: 5%;
	padding-right: 5%;

	* {
		color: $off-black;
		@include letterpress-light-bg;
	}

	@include media($small-screen-up) {
		padding-left: 0;
		padding-right: 0;
	}

	.wrap {
		padding: 15% 0 20% 0;
	}
}

/* Title Area
--------------------------------------------- */

.branding {
	float: none;
	margin-right: 0;
	padding: 10px 0;
	width: 100%;
	display: block;
	text-align: center;
	position: relative;

	@include media($medium-screen-up) {

	}

	.logo {margin: 0 auto;}
}

.site-title {
	font-family: $header-font-family;
	font-size: $site-title-font-size;
	font-weight: 600;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	display: none;

	a,
	a:hover,
	a:focus {
		color: $off-black;
	}
}

.site-description {
	color: $off-black;
	font-family: $header-font-family;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.3;
	opacity: 0.6;
	margin: 10% 15%;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

/* Header Right
--------------------------------------------- */

.header-right {
	@include span-columns(9);
	float: right;
	text-align: right;

	.widget {
		margin: 0;
	}
}
