/*!
tracyappsdesign Editor Styles
Version: 3.1.0
*/

/*
Defaults
----------------------------------------------------------------------------- */
/* Typography
--------------------------------------------- */
body {
  background-color: #f5f5f5;
  color: #494b4c;
  font-family: "Hind", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 810px) {
  body {
    font-size: 18px;
  }
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  -webkit-transition: all, 0.1s, ease-in-out;
  -moz-transition: all, 0.1s, ease-in-out;
  transition: all, 0.1s, ease-in-out;
}

::selection {
  background-color: #1c1e1f;
  color: #fff;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #98d900;
  text-decoration: none;
}
a:hover {
  color: #4fcea0;
}
a:active, a:focus {
  color: #4fcea0;
  outline: none;
}

p {
  margin: 0 0 26px;
  padding: 0;
}

b,
strong {
  font-weight: 700;
}

hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0;
}

pre {
  position: relative;
  background: #f5f5f5;
  border: 1px solid lightgray;
  color: #1c1e1f;
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 16px;
  margin-bottom: 26px;
  padding: 3% 10% 3% 5%;
  overflow: auto;
  max-width: 100%;
  tab-size: 4;
}

code,
kbd,
tt,
var {
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
}

address {
  font-style: italic;
  margin: 0 0 26px;
}

abbr,
acronym {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help;
}

mark,
ins {
  background: #dbf5eb;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 155%;
}

figure {
  margin: 0;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #676869;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  margin: 40px;
}
blockquote cite {
  display: block;
  font-family: "Hind", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-top: 15px;
}
blockquote cite::before {
  content: "\2014";
  padding-right: 10px;
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1e1f;
  font-family: "Playfair Display", Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 10px;
  text-rendering: optimizeLegibility;
}
h1 strong,
h1 b,
h2 strong,
h2 b,
h3 strong,
h3 b,
h4 strong,
h4 b,
h5 strong,
h5 b,
h6 strong,
h6 b {
  font-weight: 900;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

/* Media Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  margin: 0;
  max-width: 100%;
}

a:hover img,
a:focus img {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.9;
}

.featured-content img,
.gallery img {
  width: auto;
}

/* Gallery
--------------------------------------------- */
.gallery {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.gallery::after {
  clear: both;
  content: "";
  display: table;
}

.gallery-item {
  line-height: 0;
  list-style: none;
  margin: 0 0 2.35765%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 810px) {
  .gallery-columns-0 .gallery-item, .gallery-columns-1 .gallery-item, .gallery-col-0 .gallery-item, .gallery-col-1 .gallery-item {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery-columns-2 .gallery-item, .gallery-col-2 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .gallery-columns-2 .gallery-item:last-child, .gallery-col-2 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-2 .gallery-item:nth-child(2n), .gallery-col-2 .gallery-item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery-columns-2 .gallery-item:nth-child(2n+1), .gallery-col-2 .gallery-item:nth-child(2n+1) {
    clear: left;
  }
  .gallery-columns-3 .gallery-item, .gallery-col-3 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .gallery-columns-3 .gallery-item:last-child, .gallery-col-3 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-3 .gallery-item:nth-child(3n), .gallery-col-3 .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery-columns-3 .gallery-item:nth-child(3n+1), .gallery-col-3 .gallery-item:nth-child(3n+1) {
    clear: left;
  }
  .gallery-columns-4 .gallery-item, .gallery-col-4 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .gallery-columns-4 .gallery-item:last-child, .gallery-col-4 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-4 .gallery-item:nth-child(4n), .gallery-col-4 .gallery-item:nth-child(4n) {
    margin-right: 0;
  }
  .gallery-columns-4 .gallery-item:nth-child(4n+1), .gallery-col-4 .gallery-item:nth-child(4n+1) {
    clear: left;
  }
  .gallery-columns-5 .gallery-item, .gallery-col-5 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%;
  }
  .gallery-columns-5 .gallery-item:last-child, .gallery-col-5 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-5 .gallery-item:nth-child(5n), .gallery-col-5 .gallery-item:nth-child(5n) {
    margin-right: 0;
  }
  .gallery-columns-5 .gallery-item:nth-child(5n+1), .gallery-col-5 .gallery-item:nth-child(5n+1) {
    clear: left;
  }
  .gallery-columns-6 .gallery-item, .gallery-col-6 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .gallery-columns-6 .gallery-item:last-child, .gallery-col-6 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-6 .gallery-item:nth-child(6n), .gallery-col-6 .gallery-item:nth-child(6n) {
    margin-right: 0;
  }
  .gallery-columns-6 .gallery-item:nth-child(6n+1), .gallery-col-6 .gallery-item:nth-child(6n+1) {
    clear: left;
  }
  .gallery-columns-7 .gallery-item, .gallery-col-7 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 12.22831%;
  }
  .gallery-columns-7 .gallery-item:last-child, .gallery-col-7 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-7 .gallery-item:nth-child(7n), .gallery-col-7 .gallery-item:nth-child(7n) {
    margin-right: 0;
  }
  .gallery-columns-7 .gallery-item:nth-child(7n+1), .gallery-col-7 .gallery-item:nth-child(7n+1) {
    clear: left;
  }
  .gallery-columns-8 .gallery-item, .gallery-col-8 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 10.43705%;
  }
  .gallery-columns-8 .gallery-item:last-child, .gallery-col-8 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-8 .gallery-item:nth-child(8n), .gallery-col-8 .gallery-item:nth-child(8n) {
    margin-right: 0;
  }
  .gallery-columns-8 .gallery-item:nth-child(8n+1), .gallery-col-8 .gallery-item:nth-child(8n+1) {
    clear: left;
  }
  .gallery-columns-9 .gallery-item, .gallery-col-9 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 8.98699%;
  }
  .gallery-columns-9 .gallery-item:last-child, .gallery-col-9 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-9 .gallery-item:nth-child(9n), .gallery-col-9 .gallery-item:nth-child(9n) {
    margin-right: 0;
  }
  .gallery-columns-9 .gallery-item:nth-child(9n+1), .gallery-col-9 .gallery-item:nth-child(9n+1) {
    clear: left;
  }
}
.gallery-item .gallery-caption {
  -webkit-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out;
  background: rgba(28, 30, 31, 0.5);
  color: #fff;
  font-size: 14px;
  line-height: 1.65;
  max-height: 50%;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  visibility: visible;
  opacity: 1;
}

.gallery-icon a {
  display: block;
  line-height: 0;
}

.gallery-icon img {
  width: 100%;
  margin: 0 auto;
}

/* Forms
--------------------------------------------- */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  color: #494b4c;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
textarea:hover {
  border-color: lightgray;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
textarea:focus {
  border-color: #adadad;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

input::-webkit-input-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400;
}
input::-moz-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400;
}
input:-moz-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400;
}
input:-ms-input-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400;
}

/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 30px;
  width: 100%;
}

tbody {
  border-bottom: 1px solid #e0e0e0;
}

td,
th {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  text-align: left;
}

th {
  font-weight: 400;
}

/* Lists
--------------------------------------------- */
ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

dl {
  margin: 0;
  padding: 0;
}
dl dt {
  font-weight: 600;
  margin-top: 10px;
}
dl dd {
  margin: 0;
}

/* Buttons
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #33b787;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
  background-color: #4fcea0;
  color: #fff;
  display: inline-block;
}

.entry-content .button:hover,
.entry-content .button:focus {
  color: #fff;
}

.button {
  display: inline-block;
}

/*
Common Classes
----------------------------------------------------------------------------- */
/* Flagship
--------------------------------------------- */
.breadcrumbs {
  font-size: 16px;
  margin-bottom: 15px;
}
.breadcrumbs .sep {
  padding: 0 4px;
}

.loop-meta,
.author-box {
  margin-bottom: 30px;
}

.author-box {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
}
@media screen and (min-width: 810px) {
  .author-box {
    padding: 40px;
  }
}
.author-box .social-icons {
  display: block;
  padding-top: 26px;
}
.author-box .social-icons li {
  display: inline-block;
  margin: 0 5px 5px;
}

.author-box-title {
  margin-bottom: 4px;
}

.loop-meta p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

.loop-title {
  font-size: 46px;
  font-weight: 600;
}

/* Search Form
--------------------------------------------- */
.search-form {
  position: relative;
  display: block;
}
.search-form input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  width: 100%;
}
.search-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #33b787;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  padding: 0 20px;
}
.search-form button[type=submit]::before {
  font-size: 18px;
  line-height: 1.625;
}

/* Post Password Form
--------------------------------------------- */
.post-password-form input {
  display: block;
  width: 100%;
}
.post-password-form input[type="password"] {
  margin-bottom: 20px;
}

/* Avatar
--------------------------------------------- */
.avatar {
  border-radius: 100%;
  float: left;
}

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px;
}

.format-status .avatar {
  margin-right: 20px;
}

/* WordPress
--------------------------------------------- */
.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}
.alignright .avatar {
  margin-left: 24px;
}

.alignleft,
.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 26px;
}

img.alignnone,
.alignnone {
  margin-bottom: 26px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 26px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 26px 24px;
}

.wp-caption img {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

/* Screen Readers
--------------------------------------------- */
.off-screen,
.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.off-screen:focus,
.screen-reader-text:focus {
  outline: 0;
}

.skip-link .screen-reader-text:focus {
  clip: auto;
  height: auto;
  margin: 20px;
  padding: 15px;
  width: auto;
  z-index: 100;
}

/*
Genericons
----------------------------------------------------------------------------- */
/* Theme Icons
--------------------------------------------- */
a[href^="mailto:"]::before,
a[href^="tel:"]::before,
.menu-button::before,
.search-form button::before,
.mejs-controls .mejs-button button::after,
.mejs-overlay-button::after,
.media-info-toggle::after,
.wp-playlist-playing .wp-playlist-caption::before,
.wp-playlist-item-meta::before,
.entry-author a::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.chat-author cite::before,
.entry-views::before,
.social-icons li a::before,
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before,
.comment-reply-link::before,
.comment-reply-login::before,
.comments-number::before,
.comment-reply-title:before,
.comment-respond label[for="author"]::before,
.comment-respond label[for="email"]::before,
.comment-respond label[for="url"]::before,
.comment-respond label[for="comment"]::before {
  display: inline-block;
  font-family: "Genericons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

/* Theme Icon Padding
---------------------- */
a[href^="mailto:"]::before,
a[href^="tel:"]::before,
.entry-author a::before,
.chat-author cite::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.entry-views::before,
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before {
  padding-right: 3px;
  padding-bottom: 2px;
}

/* Link Icons
---------------------- */
a[href^="mailto:"]::before {
  content: "\f410";
}

a[href^="tel:"]::before {
  content: "\f437";
}

/* Menu Icon
---------------------- */
.menu-button::before {
  content: "\f419";
}

/* Search Icon
---------------------- */
.search-form button::before {
  content: "\f400";
}

/* Post Icons
---------------------- */
.entry-author a::before,
.chat-author cite::before {
  content: "\f304";
}

.entry-published::before {
  content: "\f307";
}

.entry-comments-link::before {
  content: "\f300";
}

.post-edit-link::before {
  content: "\f411";
}

.entry-permalink::before {
  content: "\f107";
}

.entry-terms.post_tag::before {
  content: "\f302";
}

.entry-terms.category::before {
  content: "\f301";
}

.entry-terms.portfolio::before {
  content: "\f460";
}

.format-standard .post-format-link::before {
  content: "\f100";
}

.format-aside .post-format-link::before {
  content: "\f101";
}

.format-audio .post-format-link::before {
  content: "\f109";
}

.format-chat .post-format-link::before {
  content: "\f108";
}

.format-gallery .post-format-link::before {
  content: "\f103";
}

.image-sizes::before,
.format-image .post-format-link::before {
  content: "\f102";
}

.format-link .post-format-link::before {
  content: "\f107";
}

.format-quote .post-format-link::before {
  content: "\f106";
}

.format-status .post-format-link::before {
  content: "\f105";
}

.format-video .post-format-link::before {
  content: "\f104";
}

/* Author Box Icons
---------------------- */
.social-gplus a::before {
  content: "\f206";
}

.social-twitter a::before {
  content: "\f202";
}

.social-facebook a::before {
  content: "\f203";
}

.social-rss a::before {
  content: "\f413";
}

/* Entry View Icons
---------------------- */
.entry-views::before {
  content: "\f403";
}

/* Comment Entry Icons
---------------------- */
.comment-published::before {
  content: "\f303";
}

.comment-author::before {
  content: "\f304";
}

.ping .comment-author::before {
  content: "\f107";
}

.comment-edit-link::before {
  content: "\f411";
}

.comment-permalink::before {
  content: "\f107";
}

/* Comment Reply Icons
---------------------- */
.comment-reply-title::before {
  content: "\f412";
  padding: 0 3px 1px 0;
}

.comment-reply-link::before,
.comment-reply-login::before {
  content: "\f412";
  margin-bottom: 3px;
  padding-right: 5px;
}

.comment-respond label[for="author"]::before,
.comment-respond label[for="email"]::before,
.comment-respond label[for="url"]::before,
.comment-respond label[for="comment"]::before {
  margin-bottom: 3px;
  padding: 0 5px;
  color: #494b4c;
}

.comment-respond label[for="author"]::before {
  content: "\f304";
}

.comment-respond label[for="email"]::before {
  content: "\f410";
}

.comment-respond label[for="url"]::before {
  content: "\f409";
}

.comment-respond label[for="comment"]::before {
  content: "\f300";
}

/* Media Info Toggle Icon
---------------------- */
.media-info-toggle::after {
  content: "\f431";
  color: #f5f5f5;
  padding-left: 5px;
  vertical-align: top;
}

.media-info-toggle.active::after {
  content: "\f432";
}

/* Media Player Icons
---------------------- */
.mejs-button button::after {
  color: #fff;
}

.mejs-unmute button::after {
  color: #494b4c;
}

.mejs-fullscreen-button button::after {
  content: "\f474";
}

.mejs-play button::after {
  content: "\f452";
}

.mejs-pause button::after {
  content: "\f448";
}

.mejs-volume-button button::after {
  content: "\f109";
}

/* Media Playlist Icons
---------------------- */
.wp-playlist-playing .wp-playlist-caption::before {
  content: "\f452";
}

.wp-playlist-current-item .wp-playlist-item-title::before {
  content: "\f109";
}

.wp-playlist-current-item .wp-playlist-item-album::before {
  content: "\f460";
}

.wp-playlist-current-item .wp-playlist-item-artist::before {
  content: "\f304";
}

.wp-playlist-playing .wp-playlist-caption::before,
.wp-playlist-item-meta::before {
  padding-bottom: 2px;
}

.wp-playlist-item-meta::before {
  padding-right: 3px;
}

body {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  background: #fff;
}
body:last-child {
  margin-right: 0;
}

/*
Content Area
----------------------------------------------------------------------------- */
p,
ol,
ul,
dl {
  margin-bottom: 26px;
}

ol,
ul {
  margin-left: 40px;
}

li {
  margin-bottom: 2%;
}

ol > li {
  list-style-type: decimal;
}

ul > li {
  list-style-type: disc;
}

li ol,
li ul {
  margin-top: 2%;
}

blockquote {
  border-left: 7px solid #f5f5f5;
  margin: 30px 0;
  padding: 0 5%;
}

.mce-item-table,
table {
  border-collapse: separate;
  border: 1px solid #e0e0e0;
  border-left: 0;
  margin: 20px 0;
  width: 100%;
}

.mce-item-table td,
.mce-item-table th,
.mce-item-table caption,
table th,
table td {
  border: 0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0 none;
}

code {
  background: #f5f5f5;
  border: 1px solid #c7c7c7;
  color: #1c1e1f;
  padding: 2px 4px;
}

.wp-caption .wp-caption-text {
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
