/*
Error: Undefined mixin 'letterpress-dark-bg'.
        on line 9 of assets/flagship/scss/partials/defaults/_typography.scss, in `letterpress-dark-bg'
        from line 9 of assets/flagship/scss/partials/defaults/_typography.scss
        from line 6 of assets/flagship/scss/partials/defaults/_base.scss
        from line 18 of assets/flagship/scss/editor-style.scss

4: // Load Neat Grid
5: @import "variables/neat-grid";
6: @import "../../bower/neat/neat";
7: 
8: // Load Global Variables
9: @import "variables/colors";
10: @import "variables/layout";
11: @import "variables/misc";
12: @import "variables/typography";
13: @import "variables/z-index";
14: 

Backtrace:
assets/flagship/scss/partials/defaults/_typography.scss:9:in `letterpress-dark-bg'
assets/flagship/scss/partials/defaults/_typography.scss:9
assets/flagship/scss/partials/defaults/_base.scss:6
assets/flagship/scss/editor-style.scss:18
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:98:in `with_mixin'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:88:in `block in with_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:88:in `with_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:88:in `block in with_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:88:in `with_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/engine.rb:268:in `render'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:404:in `run'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/bin/sass:23:in `load'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/bin/sass:23:in `<main>'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/bin/ruby_executable_hooks:15:in `eval'
/Users/tapps/.rvm/gems/ruby-2.0.0-p594/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'letterpress-dark-bg'.\A         on line 9 of assets/flagship/scss/partials/defaults/_typography.scss, in `letterpress-dark-bg'\A         from line 9 of assets/flagship/scss/partials/defaults/_typography.scss\A         from line 6 of assets/flagship/scss/partials/defaults/_base.scss\A         from line 18 of assets/flagship/scss/editor-style.scss\A \A 4: // Load Neat Grid\A 5: @import \"variables/neat-grid\";\A 6: @import \"../../bower/neat/neat\";\A 7: \A 8: // Load Global Variables\A 9: @import \"variables/colors\";\A 10: @import \"variables/layout\";\A 11: @import \"variables/misc\";\A 12: @import \"variables/typography\";\A 13: @import \"variables/z-index\";\A 14: "; }
