@mixin letterpress-dark-bg {
	text-shadow: 0 -1px 0 $transparent-black;
}

@mixin letterpress-light-bg {
	text-shadow: 0 1px 0 $transparent-white;
}

@mixin letterpress-medium-dark-bg {
	text-shadow: 0 -1px 0 $more-transparent-black;
}

@mixin letterpress-medium-light-bg {
	text-shadow: 0 1px 0 $more-transparent-white;
}

@mixin link-color-for-light-bg {
	a {color: $purple;}
	a:hover {color: darken($purple, 20);}
}

@mixin underline-overline-for-light-bg {
	.page-title-top {border-top: 1px solid rgba(0, 0, 0, 0.4);}
	.page-title-bottom {border-bottom: 1px solid rgba(0, 0, 0, 0.4);}
}